mat-button-toggle {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-card {
  margin-bottom: 20px;
  border-color: aqua;
}

.center {
  text-align: center;
  margin: 10px;
}

table {
  width: 100%;
  margin: 20px;
}

mat-card-title {
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  width: 100%;
}

.left {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
  width: 65%;
  height: auto;
}

.right {
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 5px;
  position: relative;
  float: left;
  width: 30%;
  height: auto;
}

.center {
  padding-left: 10px;
  padding-top: 10px;

  float: left;
  position: relative;
  width: 98%;
  height: auto;
}

.row .mat-button-base {
  margin: 8px 8px 8px 0;
}

mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 50%;
}

