<div >
  <div  class="content" >

    <mat-grid-list cols="4" rowHeight="250px">
      <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        <img width="100%" height="auto" src="{{tile.url}} ">
      </mat-grid-tile>
    </mat-grid-list>

    <div class="center">
      <mat-button-toggle-group>
        <mat-button-toggle>Fotos</mat-button-toggle>
        <mat-button-toggle>Video</mat-button-toggle>
        <mat-button-toggle>360°</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <div class="left"  style="margin-bottom: 1.5%">

    <mat-card style="background-color: #f5f5f5">
      <mat-card-title style="margin-top: 2%" class="title">{{postData.title}}</mat-card-title>
      <mat-card-subtitle>{{postData.address}}</mat-card-subtitle>


      <div style="display: flex; flex-direction: row;justify-content: space-between;width: 60%;margin-left: auto;margin-right: auto">
        <mat-card style="width: 17%">
          <mat-card-subtitle style="text-align: center">Precio</mat-card-subtitle>
          <mat-card-subtitle style="text-align: center;">{{postData.price}}</mat-card-subtitle>
        </mat-card>
        <mat-card style="width: 21%">
          <mat-card-subtitle style="text-align: center">Dormitorios</mat-card-subtitle>
          <mat-card-subtitle style="text-align: center;">{{postData.roomQuantity}}</mat-card-subtitle>
        </mat-card>
        <mat-card style="width: 17%">
          <mat-card-subtitle style="text-align: center">Baños</mat-card-subtitle>
          <mat-card-subtitle style="text-align: center;">{{postData.bathQuantity}}</mat-card-subtitle>
        </mat-card>
        <mat-card style="width: 17%">
          <mat-card-subtitle style="text-align: center">m2</mat-card-subtitle>
          <mat-card-subtitle style="text-align: center;">{{postData.price*0.1}}</mat-card-subtitle>
        </mat-card>
      </div>

      <mat-card-title class="title" style="margin-top: 4%">Descripción</mat-card-title>
      <mat-card-subtitle >{{postData.department}}, {{postData.district}}</mat-card-subtitle>

      <mat-card-title class="title" style="margin-top: 4%">Reseñas</mat-card-title>
      <mat-card *ngFor="let review of reviews">
        <mat-card-subtitle>{{review.profile.name}}, {{review.profile.lastName}}</mat-card-subtitle>
        <mat-card-subtitle>{{review.content}}</mat-card-subtitle>
        <hr>
        <mat-card-content>¿Fue útil esta reseña?</mat-card-content>
      </mat-card>



      <mat-card-title class="title" style="margin-top: 4%">Datos del Arrendador</mat-card-title>
      <mat-list>
        <mat-list-item>Nombre: {{landlordData.name}}, {{landlordData.lastName}}</mat-list-item>
        <mat-list-item>Celular: {{landlordData.cellphone}}</mat-list-item>
      </mat-list>

    </mat-card>

  </div>

  <div class="right" >

    <mat-card style="background-color: #f5f5f5;margin-left: auto;margin-right: auto;width: 78%;padding-top: 5%;padding-bottom: 5%" >
      <mat-card-title class="title">Contactar al arrendador</mat-card-title>
      <button mat-raised-button style="background-color: #fba31b;width: 100%">Contactar al arrendador</button>
    </mat-card>

  </div>
  <hr style="width: 98%;color: #a6a6a6">

  <div>
    <div class="left" style="margin-top: 1.5%">

      <mat-card-title style="font-size: x-large">Propiedades que te pueden interesar</mat-card-title></div>

    <div class="center" style="justify-content: space-between" >

      <div fxFlex="23" *ngFor="let post of posts.slice(0,4)"  >
        <mat-card  fxFlex >
          <div style="position: relative">
            <img mat-card-image [src]="post.picture" alt="Photo of {{post.title}}">
          </div>
          <button mat-icon-button  style="position: absolute;top: 0;right: 0;color: white" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>

          <mat-card-header>
            <mat-card-title  style="font-size: 1.4em;text-align: left">{{post.price}}</mat-card-title>
            <mat-card-subtitle style="font-size: 1.3em;margin-top: 1%">{{post.department}}, {{post.district}}</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 1.2em;padding-top: 18%;text-align: left">{{post.title}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <section>
              <div style="flex-direction: row;display: flex;float: right"  >
                <!--              <button class="button" mat-raised-button  routerLink="/detailed-post" routerLinkActive="active">Ver más</button>-->
                <button class="button" mat-raised-button style="margin-bottom: auto"  routerLinkActive="active">Ver más</button>
              </div>
            </section>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>
</div>

